{% extends "base.html" %}

{% block title %} Профиль {{profile.username}}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
            <h1>Профиль {{user.username}}
                {% if is_owner %} (Вы) {% endif %}</h1>
            <form method="post" enctype="multipart/form-data" action="{% url 'profile' %}?user_id={{user.id}}">
                {% csrf_token %}
                Телефон <input type="tel" name="phone" value="{{user.phone}}"
                           {% if not is_owner%} readonly {% endif %}>
                <br>
                Фото <input type="file" name="photo" accept="image/*">
                <br>
                {% if is_owner %}
                    <button type="submit">Отправить</button>
                {% endif %}
            </form>
            <img src="/media/{{user.photo}}"><br>
            Пройденные тесты:
            <ul>
                {% for test in tests %}
                    <li>
                        <a href="{% url 'test_page' %}?test_id={{test.id}}">{{test.title}}</a>
                    </li>
                {% endfor %}
            </ul>
    {% else %}
        Войдите, чтобы просмотреть профиль
    {% endif %}
{% endblock %}