{% extends "base.html" %}

{% block title %} Профиль {{profile.username}}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
            <img src="/media/{{user.avatar}}" alt="Фото не найдено"><br>
        Телефон: {{user.phone}}<br>
        Пройденные тесты:
            <ul>
                {% for test in tests %}
                    <li>
                        <a href="{% url 'test_page' %}?test_id={{test.id}}">{{test.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% if is_owner %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Сохранить</button>
            </form>
        {% endif %}
    {% else %}
        Войдите, чтобы просмотреть профиль
    {% endif %}
{% endblock %}